
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}
body {
    background-image: linear-gradient(to bottom, #ffffff, #e6e7e6, #cecece, #b7b7b7, #a0a0a0);
}

/*///////////////////////////////////////
/////////////////// NAVBAR //////////////
///////////////////////////////////////*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 22px;
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;    
    
}

.nav-right {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    
}

.nav-list {
    width: 130px;
}


.container-profile {
    display: flex;   
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    width: 45%;
}

/*////////////////////////////////////////
///////////////// PROFILE ///////////////
///////////////////////////////////////*/
.container-profile {
    padding: 100px 150px 150px 150px;    
}
.profile-img {
    border-radius: 50%;
}

.text-presentation {
    font-size: 48px ;
    font-weight: 500;
}

.text-info {
    margin-top: 30px;
    font-size: 26px;
    margin-bottom: 30px;

}


/*////////////////////////////////////////
///////////////// ABOUT ME ///////////////
///////////////////////////////////////*/

.container-about{
    background-image: linear-gradient(to right, #222222, #2b2b2b, #343434, #3e3e3e, #484848, #484848, #484848, #484848, #3e3e3e, #343434, #2b2b2b, #222222);
    
    padding: 100px 150px 100px 150px;    
    text-align: center;
    color: #FFF;
}
.about-text{    
    font-size: 22px;
    margin-bottom: 30px;
    text-align: justify;
}

/*////////////////////////////////////////
/////////// SKILSS  & HOBBIES/////////////
///////////////////////////////////////*/

.subtitle {
    font-size: 40px;
    text-align: center;
    padding: 50px;
}

.container-skills, .container-hobbies {
    
    padding: 50px 150px 0px 150px;    
}
.container-hobbies{
    padding-bottom: 150px;
}

.skills, .hobbies{
    justify-content: center;
    display: flex;
	flex-wrap: wrap;
}

.skills-link, .hobbies-link{
    display: flex;
	width: 10%;
    height: 125px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    flex-direction: column;    
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    gap: 8px;
    
}

.skills-link p, .hobbies-link p{
    text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
    font-family: 'Quicksand', sans-serif;
	
}

/*////////////////////////////////////////
//////////////// EDUCATION////////////////
///////////////////////////////////////*/

.container-education {
    color: #fff;
    background-image: linear-gradient(to right, #222222, #2b2b2b, #343434, #3e3e3e, #484848, #484848, #484848, #484848, #3e3e3e, #343434, #2b2b2b, #222222);
    padding: 50px 150px 50px 150px;   
    
}
.education-section {
    display: flex;
    justify-content: space-around;
}

.education {
    display: flex;
    padding: 25px;
}

.education-card img {
    width: 250px;
    height: 250px;

}

.education-card-text {
    
}

.title-education {
    
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
}

.text-education {
    font-size: 20px;

}

.education-section {
    display: flex;    
    flex-wrap: wrap;
}

.education {
    width: 400px;
}

/*////////////////////////////////////////
////////////// EXPERIENCE ////////////////
///////////////////////////////////////*/
.container-experience {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #5b6c7e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #5b6c7e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 50px 150px 150px 100px;
}
.experience-article {
    display: flex;
    justify-content: center;
}

.experience-image img {
    width: 500px;
    height: auto;
}

.experience-article {
    display: flex;
}
.experience-article-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
    max-width: 500px;
}

.article-title {
    font-size: 40px;
    font-weight: 500;
}
.article-subtitle {
    font-size: 25px;
    font-weight: 400;
}

.article-buttons {
    display: flex;
    justify-content: space-evenly;
}
.article-buttons button {
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 50px;
    
}

/*////////////////////////////////////////
//////////////// CONTACT /////////////////
///////////////////////////////////////*/

.container-contact {
    background-image: linear-gradient(to right, #222222, #2b2b2b, #343434, #3e3e3e, #484848, #484848, #484848, #484848, #3e3e3e, #343434, #2b2b2b, #222222);
    color: #fff;
    padding: 90px 150px 90px 150px;   
}

.container-footer {
    text-align: center;
}

.container-contact {
    display: flex;
}

.contact-img {
    width: 464px;
    height: auto;
}

.info-contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
    padding: 60px;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

#form input {
height: 50px;
width: 450px;
}
#form button{
    height: 80px;
    width: 458px;
}

.container-footer {
    padding: 50px;
    background: #1f2831;  /* fallback for old browsers */
    color: white;
    font-family: 'Quicksand', sans-serif;
}


