
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

/*///////////////////////////////////////
/////////////////// NAVBAR //////////////
///////////////////////////////////////*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 22px;
    margin-top: 30px;
    
}

.nav-right {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    
}

.nav-list {
    width: 100px;
}


.container-profile {
    display: flex;   
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

/*////////////////////////////////////////
///////////////// PROFILE ///////////////
///////////////////////////////////////*/
.container-profile {
    margin-top: 100px;
}
.profile-img {
    border-radius: 50%;
}

.text-presentation {
    font-size: 48px ;
    font-weight: 500;
}

.text-info {
    margin-top: 30px;
    font-size: 26px;
    margin-bottom: 30px;

}

/*////////////////////////////////////////
///////////////// ABOUT ME ///////////////
///////////////////////////////////////*/

.container-about{
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}
.about-text{    
    font-size: 22px;
    margin-bottom: 30px;
    text-align: justify;
}

/*////////////////////////////////////////
/////////// SKILSS  & HOBBIES/////////////
///////////////////////////////////////*/

.subtitle {
    font-size: 40px;
    text-align: center;
    padding: 50px;
}

.container-skills, .container-hobbies {
    
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.skills, .hobbies{
    justify-content: center;
    display: flex;
	flex-wrap: wrap;
}

.skills-link, .hobbies-link{
    display: flex;
	width: 10%;
    height: 125px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    flex-direction: column;    
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    gap: 8px;
    
}

.skills-link p, .hobbies-link p{
    text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
    font-family: 'Quicksand', sans-serif;
	
}

/*////////////////////////////////////////
//////////////// EDUCATION////////////////
///////////////////////////////////////*/

.container-education {
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.education-section {
    display: flex;
    justify-content: space-around;
}

.education {
    display: flex;
    padding: 25px;
}

.education-card img {
    width: 280px;
    height: 280px;

}

.education-card-text {
    
}

.title-education {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 10px;
}

.text-education {
    font-size: 20px;

}

/*////////////////////////////////////////
//////////////// CONTACT /////////////////
///////////////////////////////////////*/

.container-contact {
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.container-footer {
    text-align: center;
}

.education-section {
    display: flex;
    background: lightblue;
    flex-wrap: wrap;
    
    
}

.education {
    width: 400px;
}

.container-contact {
    display: flex;
}

.contact-img {
    width: 464px;
    height: auto;
}

.info-contact {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.container-footer {
    padding: 50px;
}